
@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=3d9b5adc-30f0-42af-92d8-1273d1b455e9");
@font-face{
font-family:"Avenir W01_n2";
src:url("Fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W01";
src:url("Fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix");
src:url("Fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix") format("eot"),url("Fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2") format("woff2"),url("Fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff") format("woff"),url("Fonts/4577388c-510f-4366-addb-8b663bcc762a.ttf") format("truetype"),url("Fonts/b0268c31-e450-4159-bfea-e0d20e2b5c0c.svg#b0268c31-e450-4159-bfea-e0d20e2b5c0c") format("svg");
font-weight: 200;
font-style: normal;
}
@font-face{
font-family:"Avenir W01_o2";
src:url("Fonts/63a166cb-be60-435c-a056-75172e43efa5.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W01";
src:url("Fonts/63a166cb-be60-435c-a056-75172e43efa5.eot?#iefix");
src:url("Fonts/63a166cb-be60-435c-a056-75172e43efa5.eot?#iefix") format("eot"),url("Fonts/a59168c1-917d-4de9-a244-0316c057c357.woff2") format("woff2"),url("Fonts/6dc0e7d8-9284-44e1-8f05-984a41daa3a4.woff") format("woff"),url("Fonts/2315df7a-8bc2-433d-bf0a-162fc0063de0.ttf") format("truetype"),url("Fonts/7b1e5b2a-b6a6-43da-9021-ada6d1d797f2.svg#7b1e5b2a-b6a6-43da-9021-ada6d1d797f2") format("svg");
font-weight: 200;
font-style: oblique;
}
@font-face{
font-family:"Avenir W01_n3";
src:url("Fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W01";
src:url("Fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix");
src:url("Fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix") format("eot"),url("Fonts/065a6b14-b2cc-446e-9428-271c570df0d9.woff2") format("woff2"),url("Fonts/65d75eb0-2601-4da5-a9a4-9ee67a470a59.woff") format("woff"),url("Fonts/c70e90bc-3c94-41dc-bf14-caa727c76301.ttf") format("truetype"),url("Fonts/0979215b-3a1b-4356-9c76-e90fa4551f1d.svg#0979215b-3a1b-4356-9c76-e90fa4551f1d") format("svg");
font-weight: 300;
font-style: normal;
}
@font-face{
font-family:"Avenir W01_o3";
src:url("Fonts/d8c50fcc-bc32-4f31-8c24-b170c64e2254.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W01";
src:url("Fonts/d8c50fcc-bc32-4f31-8c24-b170c64e2254.eot?#iefix");
src:url("Fonts/d8c50fcc-bc32-4f31-8c24-b170c64e2254.eot?#iefix") format("eot"),url("Fonts/476612d9-282d-4f76-95cd-b4dd31e7ed21.woff2") format("woff2"),url("Fonts/f1ebae2b-5296-4244-8771-5f40e60a564a.woff") format("woff"),url("Fonts/04d1bf6c-070d-4b7e-9498-6051c9f0c349.ttf") format("truetype"),url("Fonts/d0a3e813-1257-4b66-812a-36101faa0fb3.svg#d0a3e813-1257-4b66-812a-36101faa0fb3") format("svg");
font-weight: 300;
font-style: oblique;
}
@font-face{
font-family:"Avenir W01_n4";
src:url("Fonts/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W01";
src:url("Fonts/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix");
src:url("Fonts/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix") format("eot"),url("Fonts/b290e775-e0f9-4980-914b-a4c32a5e3e36.woff2") format("woff2"),url("Fonts/4b978f72-bb48-46c3-909a-2a8cd2f8819c.woff") format("woff"),url("Fonts/9bdf0737-f98c-477a-9365-ffc41b9d1285.ttf") format("truetype"),url("Fonts/15281d0d-e3c2-46e1-94db-cb681e00bfaa.svg#15281d0d-e3c2-46e1-94db-cb681e00bfaa") format("svg");
font-weight: 400;
font-style: normal;
}
@font-face{
font-family:"Avenir W01_o4";
src:url("Fonts/1e9b2738-9316-4b0c-97c0-5423b69ea147.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W01";
src:url("Fonts/1e9b2738-9316-4b0c-97c0-5423b69ea147.eot?#iefix");
src:url("Fonts/1e9b2738-9316-4b0c-97c0-5423b69ea147.eot?#iefix") format("eot"),url("Fonts/1a7173fa-062b-49ad-9915-bc57d3bfc1f5.woff2") format("woff2"),url("Fonts/cdda031e-26e9-4269-83d1-5a218caa10db.woff") format("woff"),url("Fonts/6d1ce413-19e7-4b43-b328-6cdedc58b35a.ttf") format("truetype"),url("Fonts/33fac8ae-e7a5-4903-9ac1-c09a59b4c61d.svg#33fac8ae-e7a5-4903-9ac1-c09a59b4c61d") format("svg");
font-weight: 400;
font-style: oblique;
}
@font-face{
font-family:"Avenir W01_n5";
src:url("Fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W01";
src:url("Fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix");
src:url("Fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix") format("eot"),url("Fonts/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2") format("woff2"),url("Fonts/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff") format("woff"),url("Fonts/25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf") format("truetype"),url("Fonts/3604edbd-784e-4ca7-b978-18836469c62d.svg#3604edbd-784e-4ca7-b978-18836469c62d") format("svg");
font-weight: 500;
font-style: normal;
}
@font-face{
font-family:"Avenir W01_o5";
src:url("Fonts/cebcf56a-ea7e-4f5c-8110-a7ee367c1f91.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W01";
src:url("Fonts/cebcf56a-ea7e-4f5c-8110-a7ee367c1f91.eot?#iefix");
src:url("Fonts/cebcf56a-ea7e-4f5c-8110-a7ee367c1f91.eot?#iefix") format("eot"),url("Fonts/deb5e718-7abb-4df3-9365-edfa95317090.woff2") format("woff2"),url("Fonts/04801919-17ee-4c6b-8b17-eb1965cb3ed6.woff") format("woff"),url("Fonts/cee053ec-4b41-4506-a1fe-796261690610.ttf") format("truetype"),url("Fonts/38a556e4-b6e5-48c6-aece-b1d470af124e.svg#38a556e4-b6e5-48c6-aece-b1d470af124e") format("svg");
font-weight: 500;
font-style: oblique;
}
@font-face{
font-family:"Avenir W01_n8";
src:url("Fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W01";
src:url("Fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix");
src:url("Fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix") format("eot"),url("Fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2") format("woff2"),url("Fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff") format("woff"),url("Fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf") format("truetype"),url("Fonts/20577853-40a7-4ada-a3fb-dd6e9392f401.svg#20577853-40a7-4ada-a3fb-dd6e9392f401") format("svg");
font-weight: 800;
font-style: normal;
}
@font-face{
font-family:"Avenir W01_n9";
src:url("Fonts/f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W01";
src:url("Fonts/f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix");
src:url("Fonts/f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix") format("eot"),url("Fonts/c78eb7af-a1c8-4892-974b-52379646fef4.woff2") format("woff2"),url("Fonts/75b36c58-2a02-4057-a537-09af0832ae46.woff") format("woff"),url("Fonts/b5c44a82-eeb8-41de-9c3f-a8db50b24b8a.ttf") format("truetype"),url("Fonts/93603a74-2be0-436c-83e1-68f9ef616eaf.svg#93603a74-2be0-436c-83e1-68f9ef616eaf") format("svg");
font-weight: 900;
font-style: normal;
}
@font-face{
font-family:"Neue Helvetica W01_n1";
src:url("Fonts/d63f77e2-a23d-496f-bc30-c61c7a689aa6.eot?#iefix") format("eot")
}
@font-face{
font-family:"Neue Helvetica W01";
src:url("Fonts/d63f77e2-a23d-496f-bc30-c61c7a689aa6.eot?#iefix");
src:url("Fonts/d63f77e2-a23d-496f-bc30-c61c7a689aa6.eot?#iefix") format("eot"),url("Fonts/4ff9f3fa-9221-4fc5-97e6-93572b6efa24.woff2") format("woff2"),url("Fonts/ca8d25cd-e264-4404-b271-4afc45c779c4.woff") format("woff"),url("Fonts/e8f8260f-dbee-4daa-81a4-0e415715c569.ttf") format("truetype"),url("Fonts/307413a4-d77e-4111-8ba5-e3b7d1e7c160.svg#307413a4-d77e-4111-8ba5-e3b7d1e7c160") format("svg");
font-weight: 100;
font-style: normal;
}
@font-face{
font-family:"Neue Helvetica W01_n3";
src:url("Fonts/1b950d2a-907a-4888-8056-0d44e8e86338.eot?#iefix") format("eot")
}
@font-face{
font-family:"Neue Helvetica W01";
src:url("Fonts/1b950d2a-907a-4888-8056-0d44e8e86338.eot?#iefix");
src:url("Fonts/1b950d2a-907a-4888-8056-0d44e8e86338.eot?#iefix") format("eot"),url("Fonts/3a46542f-f429-4821-9a88-62e3be54a640.woff2") format("woff2"),url("Fonts/50ac1699-f3d2-47b6-878f-67a368a17c41.woff") format("woff"),url("Fonts/0be5590f-8353-4ef3-ada1-43ac380859f8.ttf") format("truetype"),url("Fonts/82a4e1c2-7ffd-4c58-86fa-4010a6723c8e.svg#82a4e1c2-7ffd-4c58-86fa-4010a6723c8e") format("svg");
font-weight: 300;
font-style: normal;
}
@font-face{
font-family:"Neue Helvetica W01_n4";
src:url("Fonts/bf7ef4ce-de2a-4213-a9d7-826a3ee323cd.eot?#iefix") format("eot")
}
@font-face{
font-family:"Neue Helvetica W01";
src:url("Fonts/bf7ef4ce-de2a-4213-a9d7-826a3ee323cd.eot?#iefix");
src:url("Fonts/bf7ef4ce-de2a-4213-a9d7-826a3ee323cd.eot?#iefix") format("eot"),url("Fonts/3dac71eb-afa7-4c80-97f0-599202772905.woff2") format("woff2"),url("Fonts/34e0e4c0-c294-49bb-9a8e-1b2cafd54e32.woff") format("woff"),url("Fonts/8a8bfee3-197c-4942-9b11-71508cc9f406.ttf") format("truetype"),url("Fonts/5101995a-e73b-4cf9-84e8-f99eb43277b1.svg#5101995a-e73b-4cf9-84e8-f99eb43277b1") format("svg");
font-weight: 400;
font-style: normal;
}
@font-face{
font-family:"Neue Helvetica W01_i4";
src:url("Fonts/5d0e5dca-869d-4e14-ac6b-45fbab3c4047.eot?#iefix") format("eot")
}
@font-face{
font-family:"Neue Helvetica W01";
src:url("Fonts/5d0e5dca-869d-4e14-ac6b-45fbab3c4047.eot?#iefix");
src:url("Fonts/5d0e5dca-869d-4e14-ac6b-45fbab3c4047.eot?#iefix") format("eot"),url("Fonts/21c44514-f4d6-4cff-a5de-e4cac5e61aff.woff2") format("woff2"),url("Fonts/e7c4b231-76ad-47c7-a54b-5d84dcd78d0f.woff") format("woff"),url("Fonts/b6db417f-e795-426a-a2af-adc37a3419a6.ttf") format("truetype"),url("Fonts/0c6d116c-89d1-402b-b9f3-2d9890d7a4ee.svg#0c6d116c-89d1-402b-b9f3-2d9890d7a4ee") format("svg");
font-weight: 400;
font-style: italic;
}
@font-face{
font-family:"Neue Helvetica W01_n5";
src:url("Fonts/f95f9fc2-ffda-431c-9d6a-2c3668f5b20b.eot?#iefix") format("eot")
}
@font-face{
font-family:"Neue Helvetica W01";
src:url("Fonts/f95f9fc2-ffda-431c-9d6a-2c3668f5b20b.eot?#iefix");
src:url("Fonts/f95f9fc2-ffda-431c-9d6a-2c3668f5b20b.eot?#iefix") format("eot"),url("Fonts/5b1fbd62-45dc-4433-a7df-a2b24a146411.woff2") format("woff2"),url("Fonts/050b1948-f226-4d20-a65a-15d8ed031222.woff") format("woff"),url("Fonts/beb88be6-2a60-46fe-914f-6892b3ae46ce.ttf") format("truetype"),url("Fonts/e5567978-93ef-4de1-804d-1f0e3654a014.svg#e5567978-93ef-4de1-804d-1f0e3654a014") format("svg");
font-weight: 500;
font-style: normal;
}
@font-face{
font-family:"Neue Helvetica W01_n7";
src:url("Fonts/8a6c3e5a-88a5-430c-91d8-7767ce971d12.eot?#iefix") format("eot")
}
@font-face{
font-family:"Neue Helvetica W01";
src:url("Fonts/8a6c3e5a-88a5-430c-91d8-7767ce971d12.eot?#iefix");
src:url("Fonts/8a6c3e5a-88a5-430c-91d8-7767ce971d12.eot?#iefix") format("eot"),url("Fonts/531c5a28-5575-4f58-96d4-a80f7b702d7b.woff2") format("woff2"),url("Fonts/439c5962-f9fe-4eaf-a1f6-f41d42edba75.woff") format("woff"),url("Fonts/419a308d-b777-4f84-9235-2caf4a98ec23.ttf") format("truetype"),url("Fonts/e4d5b881-6835-45b7-8766-3e5b9e7cab8b.svg#e4d5b881-6835-45b7-8766-3e5b9e7cab8b") format("svg");
font-weight: 700;
font-style: normal;
}
@font-face{
font-family:"Neue Helvetica W01_n8";
src:url("Fonts/b7066775-c685-4630-b98c-5da67d4981e9.eot?#iefix") format("eot")
}
@font-face{
font-family:"Neue Helvetica W01";
src:url("Fonts/b7066775-c685-4630-b98c-5da67d4981e9.eot?#iefix");
src:url("Fonts/b7066775-c685-4630-b98c-5da67d4981e9.eot?#iefix") format("eot"),url("Fonts/dd7814bd-8abf-46c5-a4be-db0977de2cca.woff2") format("woff2"),url("Fonts/20ffa4b4-0154-4ca6-800c-468cecbd60f1.woff") format("woff"),url("Fonts/c68e9fac-92b0-47be-853c-1a0e92f68c3d.ttf") format("truetype"),url("Fonts/94d5af98-e327-4660-89da-a0c66d6fdfe9.svg#94d5af98-e327-4660-89da-a0c66d6fdfe9") format("svg");
font-weight: 800;
font-style: normal;
}
@font-face{
font-family:"Neue Helvetica W01_n9";
src:url("Fonts/6492b5a6-2267-40e3-8ede-fd8b730790b1.eot?#iefix") format("eot")
}
@font-face{
font-family:"Neue Helvetica W01";
src:url("Fonts/6492b5a6-2267-40e3-8ede-fd8b730790b1.eot?#iefix");
src:url("Fonts/6492b5a6-2267-40e3-8ede-fd8b730790b1.eot?#iefix") format("eot"),url("Fonts/bd8486cc-4614-412d-ba1d-15e1a7c9fada.woff2") format("woff2"),url("Fonts/a7bdf5a9-752e-4e69-b17c-b7e62575b07a.woff") format("woff"),url("Fonts/e1f8b69f-5d23-44bc-88bf-94778cc978a3.ttf") format("truetype"),url("Fonts/22a406f9-eeb2-41eb-ab5e-242ec26f3a88.svg#22a406f9-eeb2-41eb-ab5e-242ec26f3a88") format("svg");
font-weight: 900;
font-style: normal;
}
